.center-content {
  /* margin: auto; */
}

@font-face {
  font-family: NotoSansNewa;
  src: url(../fonts/NotoSansNewa-Regular.otf);
}

@font-face {
  font-family: Arial;
}

.newa-font {
  font-family: NotoSansNewa;
}

.deva-font {
  font-family: Arial;
}

#content {
  /* background-color: antiquewhite; */
  padding: 10px;
}

nav {
  background-color: #283136;
  color: aliceblue;
  padding-top: 5px;
  margin: auto;
}

nav > div > p {
  font-family: monospace;
  letter-spacing: 2px;
}

body {
  background-color: #344952;
}

#deva-text {
  width: 100%;
}

#newa-text {
  width: 100%;
}

textarea {
  border-width: 2px;
  border-color: #6f7e87;
  background-color: transparent;
  color: white;
}
